language: perl
perl:
  - "5.8"
  - "5.10"
  - "5.12"
  - "5.14"
  - "5.16"
  - "5.18"
  - "5.20"
  - "5.22"
  - "5.24"
  - "5.26"
env:
  global:
    - GH_NAME=tobyink
    - GH_EMAIL=tobyink+autobot@cpan.org
    - secure: "qItYo2LGgq5cKJhaxAo6WqjY2uu/9lIKvKa4JXhCC+hYWMw3RLZH1gu12eRokObHZ4iD+7f2ZObpxzz8uQOvePiFWvXKbMRlCERvaxYwqdPDRvnhkJapJ9yZpsVc2OBs8w+LuHo/9dJi4LPB7YnLJl+30wTEYC44tjIKbHvgq/w="
install:
  # force and the || true are so will continue build even on Perl <5.14
  - cpanm --force "Eval::TypeTiny" "Sub::Util" "Types::Standard" "Types::TypeTiny" "Function::Parameters" || true
  - cpanm "Test::Fatal" "Test::More"
  - cpanm "http://cpan.metacpan.org/authors/id/T/TO/TOBYINK/Benchmark-Report-GitHub-0.001.tar.gz"
script:
  - HARNESS_IS_VERBOSE=1 prove -Iinc -Ilib t
matrix:
  include:
    - perl: "5.26"
      env: BENCHMARKING=1
      after_success:
        - perl -Ilib t/benchmarks.pl
notifications:
  irc:
    channels:
      - "irc.perl.org#moops"
    on_success: change
